@media (min-width: 600px) {
    body {
        background-color: lightblue;
    }
    .card1 {
        background-color: rgb(255, 255, 255);

        aspect-ratio: 20/30;
        max-width: 20vw;
        min-width: 200px;
        border-radius: 5px;

        margin: auto;

        outline: 2px;
        outline-style: solid;
        outline-color: black;

        padding: 10px;

        display: flex;
        flex-direction: column;

        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
    }
    .card1 h2 {
        text-align: center;
    }
    .card1 img {
        align-self: center;
    }
    .coluna {
        display: flex;
        flex-direction: column;
        background-color: rgba(220, 20, 60, 0.5);
    }
    .fileira {
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 100, 0, 0.5);
    }
    .caixa1 {
        height: 80px;
        width: 80px;
        background-color: dimgray;
        margin: 5px;
    }
}

@media (max-width: 600px) {
    body {
        background-color: lightgreen;  /* Aplica fundo azul claro em telas com largura máxima de 600px */
    }
    .card1 {
        background-color: rgb(255, 255, 255);

        aspect-ratio: 20/30;
        max-width: 20vw;
        min-width: 250px;
        border-radius: 5px;

        margin: auto;

        outline: 2px;
        outline-style: solid;
        outline-color: black;

        padding: 10px;

        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
    }
    .card1 h2 {
        text-align: center;
    }
    .coluna {
        display: flex;
        flex-direction: column;
        background-color: rgba(220, 20, 60, 0.5);
    }
    .fileira {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 100, 0, 0.5);
    }
    .caixa1 {
        height: 80px;
        width: 80px;
        background-color: dimgray;
        margin: 5px;
    }
}