@media (min-width: 600px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    .conteudo {
        display: flex;
    }
    .coluna1 {
        width: 18vw;
        min-height: 97vh;
        background-color: rgb(205, 152, 255);

        text-align: center;
    }
    .coluna2 {
        width: 78vw;
        min-height: 97vh;
        background-color: rgb(152, 205, 255);
        margin: 0 1vw;

        text-align: center;
    }
    .coluna3 {
        width: 18vw;
        min-height: 97vh;
        background-color: rgb(164, 255, 152);

        text-align: center;
    }
}

@media (max-width: 600px) {
    body {
        background-color: rgb(255, 255, 255);  /* Aplica fundo azul claro em telas com largura máxima de 600px */
    }
    .conteudo {
        display: flex;
        flex-direction: column;
    }
    .coluna1 {
        min-height: 20vh;
        background-color: rgb(205, 152, 255);

        text-align: center;
    }
    .coluna2 {
        min-height: 50vh;
        background-color: rgb(152, 205, 255);
        margin: 1vw 0;

        text-align: center;
    }
    .coluna3 {
        min-height: 20vh;
        max-height: fit-content;
        background-color: rgb(164, 255, 152);

        text-align: center;
    }
}