/*Darkmode*/
/*Desktop*/
@media (min-width: 600px) {
    body {
        background-color: white;
        color: black;
    }
    a {
        color: deeppink;
    }
    /*Degradê*/
    #degrade1 {
        background-image: linear-gradient(to right, deeppink, rgb(95, 10, 55));
    }
    
    .card1 {
        background-color: rgb(255, 255, 255);
    
        aspect-ratio: 20/30;
        max-width: 20vw;
        min-width: 200px;
        border-radius: 5px;
    
        margin: auto;
    
        outline: 2px;
        outline-style: solid;
        outline-color: black;
    
        padding: 10px;
    
        display: flex;
        flex-direction: column;
    
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
    }
    .card1 h2 {
        text-align: center;
    }
    .card1 img {
        align-self: center;
    }
    
    section {
        justify-content: center;
        display: flex;
    }
    article {
        background-color: rgba(25, 29, 32, 0.9);
        padding: 1vw;
        margin: 1vw;
        height: 95vh;
    }
    article h2 {
        text-align: center;
    }
    article p {
        text-align: center;
    }
}
/*Mobile*/
@media (max-width: 600px) {
    body {
        background-color: white;
        color: black;
    }
    a {
        color: deeppink;
    }
    /*Degradê*/
    #degrade1 {
        background-image: linear-gradient(to right, deeppink, rgb(95, 10, 55));
    }
    
    .card1 {
        background-color: rgb(255, 255, 255);
    
        aspect-ratio: 20/20;
        max-width: 20vw;
        min-width: 250px;
        border-radius: 5px;
    
        margin: auto;
    
        outline: 2px;
        outline-style: solid;
        outline-color: black;
    
        padding: 10px;
    
        display: flex;
        flex-direction: column;
    
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
    }
    .card1 h2 {
        text-align: center;
    }
    .card1 img {
        align-self: center;
    }
    
    section {
        justify-content: center;
        display: flex;
    }
    article {
        background-color: rgba(25, 29, 32, 0.9);
        padding: 1vw;
        margin: 1vw;
        height: 95vh;
    }
    article h2 {
        text-align: center;
    }
    article p {
        text-align: center;
    }
}