/*Darkmode*/
body {
    background-color: rgb(25, 29, 32);
    color: aliceblue;
}
a {
    color: deeppink;
}
/*Degradê*/
#degrade1 {
    background-image: linear-gradient(to right, deeppink, rgb(95, 10, 55));
}

.item1 { grid-area: resultado; background-color: rgb(0, 65, 150);}
.item2 { grid-area: num1; background-color: darkgray;}
.item3 { grid-area: num2; background-color: darkgray;}
.item4 { grid-area: num3; background-color: darkgray;}
.item5 { grid-area: adicao; background-color: rgb(0, 65, 150);}
.item6 { grid-area: num4; background-color: darkgray;}
.item7 { grid-area: num5; background-color: darkgray;}
.item8 { grid-area: num6; background-color: darkgray;}
.item9 { grid-area: subtracao; background-color: rgb(0, 65, 150);}
.item10 { grid-area: num7; background-color: darkgray;}
.item11 { grid-area: num8; background-color: darkgray;}
.item12 { grid-area: num9; background-color: darkgray;}
.item13 { grid-area: multiplicacao; background-color: rgb(0, 65, 150);}
.item14 { grid-area: calcular; background-color: rgb(0, 65, 150);}
.item15 { grid-area: num0; background-color: darkgray;}
.item16 { grid-area: divisao; background-color: rgb(0, 65, 150);}

.grid-container {
  display: grid;
  grid-template-areas:
    'resultado resultado resultado resultado'
    'adicao num1 num2 num3'
    'subtracao num4 num5 num6'
    'multiplicacao num7 num8 num9'
    'divisao num0 num0 calcular';
  gap: 10px;
  background-color: rgb(36, 36, 36);
  padding: 10px;
  margin-left: calc(100% / 3);
  margin-right: calc(100% / 3);
  border-radius: 25px;
}

.grid-container > div {
  border-radius: 25px;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}